
@{
    ViewBag.Title = "ShowLocation";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowLocation</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    </style>
    <script src="~/scripts/Action.js"></script>
</head>
<body style="background-image: url('/imgs/export-map-share.png'); background-size:cover;">
    <canvas id="myCanvas" style='position:absolute; left:0px; top:0px;'></canvas>
    <script>
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext('2d');
        showPoint(ctx, '@ViewBag.Lon', '@ViewBag.Lat');
    </script>

    <div>
    </div>
</body>
</html>

